$background-primary: #131313;
$background-secondary: #171717;
$text-primary: #e7e7e7;
$text-secondary: #d3d3d3;
$menu-text-secondary: #a8a8a8;
$task-border-color: #2d2d2d;
$active-timer-color: #b31c14;
$short-break-color: #1c9d6f;
$long-break-color: #1a55ca;
$timer-color: #222222;
$snackbar-bg: rgb(45, 45, 45);
